﻿@using Microsoft.AspNet.Identity;
@model EnterpriseAssignment.Models.Item


<div class="card col-md-3 mr-1">
    <img src="https://drive.google.com/uc?export=view&id=@Model.ItemType.Image" class="card-img-top" alt="...">
    <h5 class="card-title">@Html.DisplayFor(modelItem => Model.ItemType.Name)</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayNameFor(model => model.Owner.Email): @Html.DisplayFor(modelItem => Model.Owner.Email)</li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.Quality): @Html.DisplayFor(modelItem => Model.Quality.Name)</li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.Quantity): @Html.DisplayFor(modelItem => Model.Quantity)</li>
        <li class="list-group-item">@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(modelItem => Model.Price)</li>
    </ul>

    @if (Model.OwnerId == User.Identity.GetUserId())
    {
        <div class="card-body">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </div>
    }
</div>