﻿@using Microsoft.AspNet.Identity;
@model IPagedList<EnterpriseAssignment.Models.Item>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="col-md-3 form-group">
            <div class="col-md-10">
                @Html.DropDownList("OwnerId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}
<div class="col-md-12 row">
    @foreach (var item in Model)
    {
        @Html.Partial("_ItemCard", item)
    }
</div>

@Html.PagedListPager(Model, p => Url.Action("Index", "Items", new { p }))   